<?xml version="1.0" encoding="iso-8859-1" ?>

<menu>
	<properties>
	  <date>2003-06-22</date>
	  <revision> $Revision$</revision>
	</properties>
	<item name='index'>
		<text lang='en'>Home</text>
		<text lang='fr'>Accueil</text>
	</item>
	<item name='screenshots'>
		<text lang='en'>Screenshots</text>
		<text lang='fr'>Captures d'écrans</text>
	</item>
	<item name='download'>
		<text lang='en'>Download</text>
		<text lang='fr'>Téléchargements</text>
	</item>
	<item name='features'>
		<text lang='en'>Features</text>
		<text lang='fr'>Fonctionnalites</text>
	</item>
	<item name='faq'>
		<text lang='en'>FAQ</text>
		<text lang='fr'>FAQ</text>
	</item>
	<item name='changes'>
		<text lang='en'>ChangeLog</text>
		<text lang='fr'>Changements</text>
	</item>
	<item name='links'>
		<text lang='en'>Links</text>
		<text lang='fr'>Liens</text>
	</item>
	<link name='http://qtparted.sourceforge.net/bugs/'>
		<text lang='en'>Bugs</text>
		<text lang='fr'>Bugs</text>
	</link>
	<link name='http://qtparted.sourceforge.net/forums/'>
		<text lang='en'>Forums</text>
		<text lang='fr'>Forums</text>
	</link>
	<link name='http://sourceforge.net/projects/qtparted/'>
		<text lang='en'>Project page</text>
		<text lang='fr'>Page du projet</text>
	</link>
</menu>

